
#containerInventoryPage{
    display: flex;
    flex-direction: row;
    background-color: cornflowerblue;
}

#menuInventory{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: cadetblue;
    margin: 15px;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div{
    margin: 10px;
}

#inventoryTable{
    width: 70%;
    background-color: coral;
    margin: 15px;
}

.borrar{
    width: 5%;
}

.editar{
    width: 5%;
}

.product{
    width: 40%;
}

.stock{
    width: 20%;
}

.price{
    width: 15%;
}

.status{
    width: 15%;
}




